.headers {
  background-color: #92B4A7;
 color: 'black';
 font-family: 'Comic Sans MS'; cursive; sans-serif;
 font-size: 1.6em;
 padding: 20px;
 text-align: center;
}
body {
  font-family: "Tahoma"; sans-serif;
  background-color: #F3F9D2;
  color: #2F2F2F;
  font-size:1.2em;
  max-width: 75em;
  margin: auto;
}

#map {height: 80em;}
.attribution {
  color: #2f2f2f;
  font-style: italic;
  font-size: .5em;
}


.marker {
  background-image: url('fish.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.mapboxgl-popup {max-width: 200px;}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#menu {
background: #fff;
position: absolute;
z-index: 1;

border-radius: 3px;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}

#menu a:last-child {border: none;}

#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}

#menu a.active {
background-color: #3887be;
color: #ffffff;
}

#menu a.active:hover {background: #3074a4;}

#console{
  position: absolute;
  width: 20em;
  margin: 1em;
  padding: 1em 2em;
  background-color: #93827F;
  z-index: 2
}

#map2 {height: 80em;}

.session {margin-bottom: 20px;}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}
